.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 30px 80px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  top: 30px;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  height: 30px;
}

.nav__link {
  font-family: "Inter", arial, sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.header__title {
  font-family: "Inter", arial, sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin: 183px 0 0 0;
  max-width: 600px;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0 0;
  max-width: 683px;
}

.header__image {
  max-width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  margin-top: auto;
  position: relative;
}

.header__paragraph {
  font-family: "Inter", arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__paragraph_position_address {
  position: absolute;
  right: 0;
  top: 40px;
  margin: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  padding: 100px 0 0 80px;
  font-family: "Inter", arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0;
  max-width: 438px;
  padding: 24px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  width: 480px;
  height: 273px;
  display: flex;
  column-gap: 40px;
  margin: 80px auto 0;
  padding-bottom: 215px;
}

.recipes__video-item {
  margin: 0;
}

.recipes__iframe {
  width: 220px;
  border: none;
}

.recipes__video-caption {
  margin: 0;
  padding-top: 24px;
  font-family: "Inter", arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #0a2850;
  padding: 100px 0 120px 0;
}

.reservation__title {
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0;
  padding-bottom: 80px;
}

.reservation__form {
  max-width: 385px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  padding-bottom: 8px;
}

.form__input {
  border: 4px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  color: #838383;
  height: 60px;
  box-sizing: border-box;
  padding: 15px 0 15px 20px;
}

.form__button {
  border-radius: 4px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;
  padding: 0;
}

.form__button:enabled {
  background-color: #2f80ed;
  color: #ffffff;
}

.form__button:hover {
  background-color: rgba(47, 128, 237, 0.7);
}

.form__label_aling_checkbox {
  margin: auto;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  padding: 0;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

.form__checkbox:checked::after {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}
